// GLOBAL

.button {
    @include btn;
    color: #ffff;
    background: $orange;
    border: 0;
    border-radius: 25px;

    &:hover {
        background: rgba(228, 114, 9, 1);
        cursor: pointer;
    }

    &:active {
        background: $green;
    }
}

// WATCH ONLINE

.watch-online__button {
    margin-right: 99px;
    width: 298px;
    height: 54px;

    @include media-laptop {
        margin-bottom: 47px;
    }

    @include media-tablet {
        margin-bottom: 40px;
        margin-left: 0;
        align-self: baseline;
    }
    
    @include media-mobile {
        margin: 20px auto 0 auto;
    }
}

// PETS

.pets__button {
    transform: translate(-50%);
    margin: 80px 50% 100px 50%;
    width: 298px;
    height: 54px;
}

.pets__arrow-right {
    position: absolute;
    top: 400px;
    right: -82px;
    @include arrow-btn;

    &:active {
        background: $green;
    }
}

.pets__arrow-left {
    @include arrow-btn;
    position: absolute;
    top: 400px;
    left: -82px;

    &:active {
        background: $green;
    }
}

// POPUP

.popup__button {
    @include body;
    width: 136px;
    height: 31px;
    border: 0px;
    background: $gray_light;
    border-radius: 5px;
    color: $green;
    cursor: pointer;
    position: absolute;
    left: 11px;
    bottom: 15px;
}

//TESTIMONIALS

.testimonials__button {
    width: 298px;
    height: 54px;
    border-radius: 5px;
}

.footer__button button {
    width: 298px;
    height: 54px;
    border-radius: 5px;
}

// DONATE PAGE 

.feed-button {
    width: 298px;
    height: 54px;
}

// FOOTER

.footer-subscription__button {
    margin-left: 10px;
    background: $gray_light;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    width: 129px;
    height: 42px;
    border-radius: 5px;
    color: $red;
    border: 1px solid #D31414;

    &:hover {
        background-color: $gray_light;
    }

    &:active {
        color: $green;
        border: 1px solid #4B9200;
    }
}