.pick-and-feed {
  background: $orange_gradient;
  padding-top: 69px;
  padding-bottom: 100px;
}

.info-field {
  background: $frosted_glass_white;
  width: 1160px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;

  & h3 {
    @include h3;
    margin: 58px auto 40px;
  }
}

.info-field__text {
  margin-left: 99px;
}

.info-field__text_title {
  font-weight: 400;
  font-size: 48px; 
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  
}

.info-field__text_subtitle {
  @include subtitle;
  margin-bottom: 40px;
}

.info-field__text_warning {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.info-field__text_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 10px 170px 0px 0px;

  & a {
    border-bottom: 1px solid #FE9013;
  }
}

.pick-and-feed__container {
  display: flex;
  justify-content: center;
}

.container__item {
  position: relative;
  width: 168px;
  
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.pick-and-feed__arrow {
  margin: 60px 31px auto 30px;
}

.item__icon-pay {
  margin: 54px 30px;
}

.item__icon-zoo {
  margin: 38px 41px 35px;
}

.item__icon-anml {
  margin: 48px 22px;
}

.item__square {
  width: 168px;
  height: 168px;
  background: url(/assets/icons/white-square.png);
}

.pick-and-feed__button {
  margin: 60px auto;

  & button {
    width: 298px;
    height: 54px;
  }
}