// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Roboto', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// @type Color
$black_blue: rgba(51, 59, 65, 1) !default;

/// @type Color
$gray: rgba(118, 116, 116, 1) !default;

/// @type Color
$gray_smoky: rgba(171, 171, 171, 1) !default;

/// @type Color
$gray_light: rgba(241, 243, 242, 1) !default;

/// @type Color
$frosted_glass_white: rgba(253, 253, 255, 0.52) !default;

/// @type Color
$green: rgba(75, 146, 0, 1) !default;

/// @type Color
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) !default;

/// @type Color
$yellow: rgba(255, 238, 46, 1) !default;

/// @type Color
$orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) !default;

/// @type Color
$pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) !default;

/// @type Color
$red: rgba(211, 20, 20, 1) !default;

/// Container's maximum width
/// @type Length
$max-width: 1160px !default;


/// Breakpoints

$laptop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 414px;